body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #e1e1e1;
}
.todo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  max-width: 600px;
  min-width: 300px;
  background-color: #fff;
  border-radius: 25px;
  box-sizing: border-box;
}
.priority {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priority__title {
  margin-top: 20px;
  text-transform: uppercase;
}
.todo__add-task {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  border: 1px solid #BBBBBB;
  border-radius: 6px;
  margin: 0.7em 0;
  padding: .4em;
  box-sizing: border-box;
}
.todo__tasks {
  width: 100%;
  box-sizing: border-box;
}
.todo__task {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #BBBBBB;
  border-radius: 6px;
  width: 100%;
  padding: .8em 0.4em;
  margin-bottom: 0.8em;
}
.task__text {
  margin: 0;
  padding-left: 1.5em;
  word-break: break-all;
}
.todo__task-value {
  display: block;
  width: 600px;
  border: none;
  outline: none;
  font-size: 1em;
  overflow: hidden;
  padding: 0.4em 0;
}
.todo__task-value::placeholder {
  color: #BBBBBB;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  outline: none;
}
.button_add:hover {
  opacity: 0.5;
}
.button_del{
  transform: rotate(45deg);
}
.button_del:hover {
  opacity: 0.5;
}
.img_del {
  margin: 0;
  width: 1.2em;
}
.task__check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  min-width: 1em;
  height: 1em;
  z-index: 2;
  outline: none;
}
.task__checkbox {
  position: absolute;
  background-image: url(../images/Ellipse\ 2.svg);
  background-repeat: no-repeat;
  min-width: 1.2em;
  height: 1.2em;
  z-index: 1;
}
.task__check-input:checked + .task__checkbox {
  background-image: url(../images/Group\ 7.svg);
}